<%- include("partials/header"); -%>
    <h1>
        This is
        <%=title%>
        page
    </h1>
    <%const content = compose.substring(0, 100); %>
        <%=compose%>

        <%- include("partials/footer") -%>